
Semester 2/OOP/Lab12Windows/Lab12/.vs/Lab12/v16/.suo
Semester 2/OOP/Lab12Windows/Lab12/.vs/Lab12/v16/Browse.VC.db
Semester 2/OOP/Lab12Windows/Lab12/Lab12/Lab12.cpp
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/Lab12.log
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/Lab12.obj
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/Lab12.tlog/CL.15324.write.1.tlog
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/Lab12.tlog/CL.command.1.tlog
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/Lab12.tlog/CL.read.1.tlog
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/Lab12.tlog/Lab12.write.1u.tlog
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/Lab12.tlog/link.read.1.tlog
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/Lab12.tlog/link.write.1.tlog
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/main.obj
Semester 2/OOP/Lab12Windows/Lab12/Lab12/x64/Debug/vc142.pdb
Semester 2/OOP/Lab12Windows/Lab12/x64/Debug/Lab12.exe
Semester 2/OOP/Lab12Windows/Lab12/x64/Debug/Lab12.ilk
Semester 2/OOP/Lab12Windows/Lab12/x64/Debug/Lab12.pdb
Semester 2/OOP/Exam_25_May/Examen/.vs/Examen/v16/ipch/AutoPCH/71c0a722edddd293/REPOSITORY.ipch
Semester 2/OOP/Exam_25_May/Examen/.vs/Examen/v16/ipch/AutoPCH/520b6dbac823321b/EXAMEN.ipch
Semester 2/OOP/Lab 12 final/Lab12/.vs/Lab12/v16/ipch/AutoPCH/61fb62cf184be04/MAIN.ipch
*.ipch
.DS_Store
2nd Year/.DS_Store
2nd Year/Databases/.DS_Store
2nd Year/Databases/Lab1/.DS_Store
.DS_Store
2nd Year/.DS_Store
2nd Year/Databases/.DS_Store
2nd Year/Databases/Lab1/.DS_Store
.DS_Store
