#container {
    width:800px;
    height:850px;
    position: relative;
    display: inline-block;
}

#container div, #right div {
    border: 2px ridge black;
    border-radius: 15px;
    width: 500px;
    height: 100px;
    margin-left: 150px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty{
    width:450px;
    height:850px;
    display: inline-block;
}
