html {
    font-family: Arial,Helvetica,freesans,sans-serif;
    height:100%;

}

#header {
    margin-bottom: 80px;
}

nav {
    position: absolute;
    background-color: #000;
    top:0px;
    left:0px;
    width:100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-size:18px;
    float: left;
    text-align: center;
}

nav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: solid 1px white;
}

nav li:first-child {
    padding: 10px;
    border-left: none;
}

#welcome h2 {
    margin: 0;
    color: #4a4a4a;
}

#welcome {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}


#content ul {
    list-style-type: none;
    display: flex;
}

.red-pipe::before {
    content: "|";
    color: red;
    margin-right:5px;
}

.yellow-pipe::before {
    content: "|";
    color: yellow;
    margin-right:5px;
}

.blue-pipe::before {
    content: "|";
    color: dodgerblue;
    margin-right:5px;
}

.big-article, .title {
    font-size: 2rem;
    color: white;
}
.big-article  p, h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.text-gray {
    color:gray;
    font-weight: normal;
    margin: 0;
}

#article-1 {
}

.big-article-text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: auto;
    top: 326px;
    margin-left: 10px;
}

.big-article-text h3, p, h5 {
    margin: 0;
}

.article-title {
    color: white;
    font-weight: normal;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    padding-bottom: 15px;
}

.small-article-text {
    position: absolute;
    top: 215px;
    left: 722px;
}

.small-article {
    margin-left: 10px;
}

.container {
    height: 171px;
    width: 304px;
    position: relative;
}
.article-image {
    position: absolute;
    left: 0;
    top: 0;
}
.article-text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 11px;
    top: 90px;
}

#search {
    border: none;
    background: white;
    height: 15px;
    min-height: 24px;
    font-weight: bold;
    width: 162px;
    float: left;
    padding: 0 0 0 6px;
    color: #333;
}

.article {
    margin-left: 10px;
    margin-top: 10px;
}

.medium-article-text {
    margin-top: 10px;
    font-size: 15px;
}
.medium-article-image {
    position: initial;
    left: 0;
    top: 0;
    width: 420px;
    height: 235px;
}

.medium-article-title {
    margin: 3px;
}

.medium-article-description {
    margin: 8px 0 8px 0;
}


.medium-container {
    height: 2px;
    width: 420px;
    position: relative;
}

.category {
    color: #4a4a4a;
    margin: 10px 0 20px 10px;
}

.medium-article {
    margin-left: 10px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 68em
}

.big-container {
    width: 624px;
    height: 351px;
}

.article-list {
    list-style-type: none;
    padding: 0;
}