html {
    font-family: Arial,Helvetica,freesans,sans-serif;
}

#header {
    margin-bottom: 80px;
}

nav {
    position: absolute;
    background-color: #000;
    top:0px;
    left:0px;
    width:100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-size:18px;
    float: left;
    text-align: center;
}

nav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: solid 1px white;
}

nav li:first-child {
    padding: 10px;
    border-left: none;
}

#welcome h2 {
    color: #4a4a4a;
}

#welcome {
    display: flex;
    justify-content: space-between;
}

#content ul {
    list-style-type: none;
    display: flex;
}

.red-pipe::before {
    content: "|";
    color: red;
    margin-right:5px;
}

.big-article {
    height: 351px;
}

.big-article, .title {
    font-size: 2rem;
    color: white;
}
.big-article  p, h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.text-gray {
    color:gray;
}

#article-1 {
}

.big-article-text {
    position: absolute;
    top: 350px;
    left: 70px;
}

.big-article-text h3, p, h5 {
    margin: 0;
}

.article-title{
    font-weight: normal;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}

