
@{
    ViewData["Title"] = "UpdateSpecific";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Specific Destination</h1>

<div class="container">
    <div class="row">
        <form method="POST" action="UpdateSpecific">
            <input type="hidden" name="id" value="<?php echo $id; ?>" />
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Enter Location" value="<?php echo $result->name; ?>" required>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Enter Country" value="<?php echo $result->country; ?>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description" value="<?php echo $result->description; ?>" required>
            </div>
            <div class="form-group">
                <label for="targets">Tourist Targets</label>
                <input type="text" class="form-control" id="targets" name="targets" placeholder="Enter Targets" value="<?php echo $result->targets; ?>" required>
            </div>
            <div class="form-group">
                <label for="costs">Costs</label>
                <input type="number" class="form-control" id="costs" name="costs" value="<?php echo $result->cost;?>" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/" type="button" class="btn btn-danger">Back</a>
        </form>
    </div>
</div>